<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- APPENDER -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- used for frameworks -->
	<appender name="APP_FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/sod_app.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n </Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>log/sod_app.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- used for frameworks -->
	<appender name="FRAMEWORKS_FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/sod_frameworks.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>log/sod_frameworks.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- used for sql related stuff -->
	<appender name="SQLROLLINGFILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/sod_sql_app.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>log/sod_sql_app.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="stash" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/file.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>log/sod_app.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<!-- APPENDER -->

	<!-- FRAMEWORKS -->
	<logger name="ma.glasnost.orika" level="DEBUG" additivity="false">
		<appender-ref ref="FRAMEWORKS_FILE" />
	</logger>

	<logger name="org.springframework" level="TRACE" additivity="false">
		<appender-ref ref="FRAMEWORKS_FILE" />
	</logger>

	<logger name="io.swagger" level="DEBUG" additivity="false">
		<appender-ref ref="FRAMEWORKS_FILE" />
	</logger>

	<!-- HIBERNATE -->
	<logger name="org.hibernate.SQL" additivity="false" >
		<level value="DEBUG" />
		<appender-ref ref="SQLROLLINGFILE" />
		<!--<appender-ref ref="STDOUT" />-->
	</logger>

	<!--<logger name="org.hibernate.type" additivity="false" >-->
		<!--<level value="TRACE" />-->
		<!--<appender-ref ref="SQLROLLINGFILE" />-->
		<!--<appender-ref ref="STDOUT" />-->
	<!--</logger>-->

	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="SQLROLLINGFILE" />
		<!--<appender-ref ref="STDOUT" />-->
	</logger>

	<!-- HIBERNATE -->
	<!-- FRAMEWORKS -->

	<logger name="com.il.sod" level="DEBUG" additivity="false">
		<appender-ref ref="APP_FILE" />
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="stash" />-->
	</logger>

	<!--<root level="INFO">-->
		<!--<appender-ref ref="STDOUT" />-->
	<!--</root>-->

	<!-- INFO || TRACE || DEBUG || OFF || ${logback.loglevel} -->
	<!-- <root level="INFO">
		<appender-ref ref="FILE" />
	</root> -->

</configuration>