# Eclipse
*/.classpath
*/.project
*/.settings/
*/log/
**/bkp_prod

# Intellij
*/.idea/
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
*/target/**
*~
common-prod.env
java_project/src/main/java/com/il/sod/exception/StringMapper/
java_project/src/main/resources/META-INF/
java_project/src/main/resources/emails/
java_project/src/main/webapp/resources/
java_project/target/

secure/

.env
export.properties
